/.ipynb_checkpoints
/.vscode
/Modelos
/Primeiro_Projeto.pdf
/Psim.psimsch
/Psim.smv
/Psim_UPF (backup)1.psimsch
/Psim_UPF.psimsch
/Relatorio
/Teste_param.txt
/Teste_param0.txt
/Teste_transfer.txt
/Trabalho_1.html
/Trabalho_1.pdf
/Trabalho_1_v2.ipynb
/Trabalh_1.pdf